{% extends 'stats/base.html' %}


{% block content %}

<div class="container">
    <div class="podium__container podium">
        <div class="podium__item">
            <p id="podium_second" class="podium__city" data-animationClass="podium__city-animation">
                {% for aestetic_ranking in aestetic_rankings %}
                    {% if aestetic_ranking.rank == 2 %}
                        {{ aestetic_ranking.team.name }} <br> {{ aestetic_ranking.team.institution }}
                    {% endif %}
                {% endfor %}
            </p>
            <div class="podium__rank second"
                onclick="AnimationController.startAnimation('podium_second'); document.getElementById('podium_second').style.visibility = 'visible';">
                2</div>
        </div>
        <div class="podium__item">
            <p id="podium_first" class="podium__city" data-animationClass="podium__city-animation">
                {% for aestetic_ranking in aestetic_rankings %}
                    {% if aestetic_ranking.rank == 1 %}
                        {{ aestetic_ranking.team.name }} <br> {{ aestetic_ranking.team.institution }}
                    {% endif %}
                {% endfor %}
            </p>
            <div class="podium__rank first"
                onclick="AnimationController.startAnimation('podium_first'); document.getElementById('podium_first').style.visibility = 'visible';">
                1</div>
        </div>
        <div class="podium__item">
            <p id="podium_third" class="podium__city" data-animationClass="podium__city-animation">
                {% for aestetic_ranking in aestetic_rankings %}
                    {% if aestetic_ranking.rank == 3 %}
                        {{ aestetic_ranking.team.name }} <br> {{ aestetic_ranking.team.institution }}
                    {% endif %}
                {% endfor %}
            </p>
            <div class="podium__rank third"
                onclick="AnimationController.startAnimation('podium_third'); document.getElementById('podium_third').style.visibility = 'visible';">
                3</div>
        </div>
    </div>

    <button onclick="showRest()">
        Show rest
    </button>

    <div class="ranking" id="ranking_rest" style="display: none;">
        {% for aestetic_ranking in aestetic_rankings %}
        {% if aestetic_ranking.rank > -1 %}
        <p>{{ aestetic_ranking.rank }} : {{ aestetic_ranking.team }} avec {{ aestetic_ranking.score }} points de styles </p>
        {% endif %}
        {% endfor %}
    </div>

    <script>
        function showRest() {
            var x = document.getElementById("ranking_rest");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>

</div>

{% endblock %}