{% extends 'stats/base.html' %}


{% block content %}

<div class="container">

    <form action="/admin/" method="get">
        <input type="submit" class="custom_button" value="Admin">
    </form>

    <form action="teamList/" method="get">
        <input type="submit" class="custom_button" value="Team List">
    </form>


    <form action="rankings/" method="get">
        <input type="submit" class="custom_button" value="Rankings">
    </form>

    <form action="institutionRankings/" method="get">
        <input type="submit" class="custom_button" value="Institution Rankings">
    </form>


</div>


{% endblock %}