{% extends 'stats/base.html' %}


{% block content %}

<div class="container">

    <form action="/admin/stats/run/add/" method="get">
        <input type="hidden" name="num_run" value="1">
        <input type="submit" value="insert round 1">
    </form>

    <form action="/admin/stats/run/add/" method="get">
        <input type="hidden" name="num_run" value="2">
        <input type="submit" value="insert round 2">
    </form>

    <form action="round/" method="get">
        <input type="hidden" name="round" value="1">
        <input type="submit" value="Round 1">
    </form>

    <form action="round/" method="get">
        <input type="hidden" name="round" value="2">
        <input type="submit" value="Round 2">
    </form>

    <form action="rankings/" method="get">
        <input type="submit" value="Rankings">
    </form>

    <form action="institutionRankings/" method="get">
        <input type="submit" value="Institution Rankings">
    </form>

    
</div>


{% endblock %}